name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: docker/build-push-action@master
    - name: Build the Docker image and push it to a repository
      
