name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: docker/build-push-action@master
    - name: Build and push the visualization 
    with:
      context: ./services/visualization
      push: true

    - uses: docker/build-push-action@master
    - name: Build and push the control screen
    with:
      context: ./services/mobile\ control\ screen
      push: true
